h1 {
  
}

.mainpic {
    display: block;
    margin: auto;
    width: 40%;
}

.mainbody {
  border: solid;
  margin: 20px 150px;
  
}

.aboutdilla {
  margin: 20px 180px;
}

.youtube {
  display: block;
    margin: auto;
    width: 50%;
    padding-top: 40px;
}

h2 {
  text-align: center;
}

.viddescript {
  margin: 10px 280px 20px 280px;
  padding-bottom: 20px;
}

.panel {
  text-align: center
}